.layout-body {
    background-color: var(--color-abyssal);
    background-image: 
        radial-gradient(ellipse 
                        25% 20% 
                        at top -5% right 25%, 
                        color-mix(in srgb, var(--color-amethyst) 36%, var(--color-transparent) 100%), 
                        color-mix(in srgb, var(--color-abyssal) 0%, var(--color-transparent) 100%)), 
        radial-gradient(ellipse
                        55% 35%
                        at top 20% left 10%,
                        color-mix(in srgb, var(--color-aqua) 18%, var(--color-transparent) 100%),
                        color-mix(in srgb, var(--color-abyssal) 0%, var(--color-transparent) 100%)),
        radial-gradient(ellipse 
                        40% 27% 
                        at bottom 15% right 10%, 
                        color-mix(in srgb, var(--color-lime) 11%, var(--color-transparent) 100%), 
                        color-mix(in srgb, var(--color-abyssal) 0%, var(--color-transparent) 100%));
}

.layout-main {
    max-width: 70%;
    margin: 0px auto;
}

.layout-footer {
    padding: 15px;
    margin-top: 50px;
    background-color: color-mix(in srgb, var(--color-gray) 15%, var(--color-transparent) 100%);
    border: 1px solid var(--color-charcoal);
}

.copyright {
    text-align: center;
}