.layout-page {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    column-gap: 50px;
}

.top-header {
    margin: 30px 0px 45px;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 10px;
    left: 10px;
}

/* Панель с фотографией и контактами */

.contact-bar {
    flex: initial;
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid var(--color-charcoal);
    background-color: color-mix(in srgb, var(--color-night-ink) 60%, var(--color-transparent) 100%);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.contacts {
    flex: initial;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.socials {
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 15px;
}

/* Основная информация */

.data-block-container {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 40px;
}

.data-block {
    padding: 30px 20px 15px;
    border-radius: 10px;
    border: 1px solid var(--color-charcoal);
    background-color: var(--color-night-ink);
}

.data-block-header {
    margin: 0px 0px 25px;
}

.data-block-subheader {
    margin: 25px 0px 15px;
}

.information-unit {
    margin: 10px 0px 10px;
}

/* Таблицы */

table.information-unit {
    border: 1px solid var(--color-charcoal);
}

table.information-unit > tbody > tr:nth-child(odd) {
    background-color: var(--color-dark-blue-1);
}

table.information-unit > tbody > tr:nth-child(even) {
    background-color: var(--color-dark-blue-2);
}

table.information-unit > tbody > tr:hover {
    background-color: var(--color-kokimurasaki-purple);
}

th,
td {
    padding: 10px;
}