.layout-page {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    column-gap: 50px;
}

.top-header {
    margin: 30px 0px 45px;
    text-align: center;
}

/* Основная информация */

.data-block-container {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 40px;
}

.data-block {
    padding: 30px 20px 15px;
    border-radius: 10px;
    border: 1px solid #303038;
    background-color: rgb(15, 20, 32);
}

.data-block-header {
    margin: 0px 0px 25px;
}

.data-block-subheader {
    margin: 25px 0px 15px;
}

.information-unit {
    margin: 10px 0px 10px;
}

/* Таблицы */

table.information-unit {
    border: 1px #303038 solid;
}

table.information-unit > tbody > tr:nth-child(odd) {
    background-color: #151A26;
}

table.information-unit > tbody > tr:nth-child(even) {
    background-color: #191E2A;
}

table.information-unit > tbody > tr:hover {
    background-color: #2f1930;
}

th,
td {
    padding: 10px;
}