@{
ViewBag.Description = "Резюме на C#/.NET Developer. Резюме пригодно для фронтенд, бекенд и фуллстек вакансии. В резюме указана информацию: о себе, стек, опыт работы, образование.";
ViewBag.Title = "Резюме C#/.NET Developer - Федотов А.О. (KebabGGbab)";
}

<aside>
    <img class="photo"
         src="/images/photo.jpg"
         alt="Моя фотография"
         asp-append-version="true">

    <address>
        <ul>

            <li>
                <a href="https://vk.com/kebabggbab"
                   target="_blank">

                    <th:img class="social-icon"
                         src="~/images/social/vk.svg"
                         alt="Профиль &quot;ВКонтакте&quot;"
                         asp-append-version="true">
                </a>
            </li>

            <li>
                <a href="https://max.ru/u/f9LHodD0cOJTZqQS7GygvCRqaCYsvRtAyguPi7Zs9kHc4BfXlS21xmVTT1g"
                   target="_blank">

                    <th:img class="social-icon"
                         src="~/images/social/max.svg"
                         alt="Профиль &quot;MAX&quot;"
                         asp-append-version="true">
                </a>
            </li>

            <li>
                <a href="https://github.com/KebabGGbab"
                   target="_blank">

                    <th:img class="social-icon"
                         src="~/images/social/github.svg"
                         alt="Профиль &quot;GitHub&quot;"
                         asp-append-version="true">
                </a>
            </li>

        </ul>

        <a href="mailto:kebabggbab@gmail.com">
            Email: kebabggbab@gmail.com
        </a>
    </address>

</aside>

<section class="data-block-container">
    <h1 class="top-header">
        Федотов Артем Олегович<br>
        C#/.NET Developer
    </h1>

    <section class="data-block">

        <h2 class="data-block-header">
            Основная информация
        </h2>

        <p class="information-unit">
            Место проживания: Россия, Кемеровская обл. г. Новокузнецк
        </p>

        <p class="information-unit">
            Гражданство: Российская Федерация
        </p>

        <p class="information-unit">
            Дата рождения 15.06.2004 (@((DateTime.UtcNow.Year - new DateTime(2004, 06, 15).Year)))
        </p>

    </section>

    <section class="data-block">

        <h2 class="data-block-header">
            Достижения
        </h2>

        <table class="information-unit">
            <tr>
                <td>
                    <span>2026</span>
                </td>
                <td>
                    <span>Диплом с отличием</span>
                </td>
            </tr>
        </table>

    </section>

    <section class="data-block">

        <h2 class="data-block-header">
            Образование
        </h2>

        <h3 class="data-block-subheader">
            Основное
        </h3>

        <table class="information-unit">
            <tr>
                <td>
                    <span>
                        2022 - 2026
                    </span>
                </td>
                <td>
                    <span>
                        Сибирский государственный индустриальный университет, Институт информационных технологий
                        и автоматизированных систем, направление подготовки 09.03.02 «Информационные системы и технологии»,
                        диплом бакалавра с отличием.
                    </span>
                </td>
            </tr>
        </table>

        <h3 class="data-block-subheader">
            Дополнительное
        </h3>

        <table class="information-unit">
            <tr>
                <td>
                    <span>
                        09.2025 - 10.2025
                    </span>
                </td>
                <td>
                    <span>
                        ФГБОУ ВО «СибГИУ», повышение квалификации по программе «Основы языка Python».
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <span>
                        10.2024 - 03.2025
                    </span>
                </td>
                <td>
                    <span>
                        ФГАОУ ВО «СПбПУ», «1С», сертификат о завершении программы обучения «Академия 1С.
                        Основы цифровой платформы современного предприятия».
                    </span>
                </td>
            </tr>
        </table>

    </section>

    <section class="data-block">

        <h2 class="data-block-header">
            Стек
        </h2>

        <table class="information-unit">
            <tr>
                <td>Языки программирования</td>
                <td>C#, JavaScript</td>
            </tr>
            <tr>
                <td>Языки разметки</td>
                <td>XAML, HTML</td>
            </tr>
            <tr>
                <td>Языки таблиц стилей</td>
                <td>CSS</td>
            </tr>
            <tr>
                <td>IDE</td>
                <td>Visual Studio</td>
            </tr>
            <tr>
                <td>Модульное тестирование</td>
                <td>MSTest</td>
            </tr>
            <tr>
                <td>Автоматизация браузера</td>
                <td>Playwright</td>
            </tr>
            <tr>
                <td>ORM</td>
                <td>Entity Framework</td>
            </tr>
            <tr>
                <td>Базы данных</td>
                <td>SQLite</td>
            </tr>
            <tr>
                <td>Настольные приложения</td>
                <td>WPF, AvaloniaUI</td>
            </tr>
            <tr>
                <td>Разработка веб-приложений</td>
                <td>ASP.NET</td>
            </tr>
            <tr>
                <td>CI/CD</td>
                <td>GitHub Actions</td>
            </tr>
            <tr>
                <td>Прочее</td>
                <td>Roslyn API, NuGet</td>
            </tr>
        </table>

    </section>

    <section class="data-block">

        <h2 class="data-block-header">
            Опыт работы
        </h2>

        <table class="information-unit">
            <tbody>
                <tr>
                    <td>
                        04.2026 - 05.2026
                    </td>
                    <td>
                        ФГБОУ ВО «СибГИУ», преддипломная практика.<br>
                        Функциональные обязанности:
                        <ul>
                            <li>
                                разработка сценариев для тестирования официального веб-сайта вуза;
                            </li>
                            <li>
                                автоматизированное тестирование веб-сайта;
                            </li>
                            <li>
                                ручное тестирование веб-сайта.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        11.2024
                    </td>
                    <td>
                        ООО «Контур-Новокузнецк», стажировка.<br>
                        Функциональные обязанности:
                        <ul>
                            <li>
                                разработка расширения для CRM-системы;
                            </li>
                            <li>
                                участие в SCRUM’ах.
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">
                        Итого:
                    </th>

                    <td>
                        3 месяца
                    </td>
                </tr>
            </tfoot>
        </table>

    </section>
</section>