<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Федотов Артем Олегович (KebabGGbab)">
    <meta name="description" content="@ViewBag.Description">
    <title>@ViewBag.Title</title>
    <th:link href="~/styles/reset.css" rel="stylesheet" />
    <th:link href="~/styles/main.css" rel="stylesheet" />
    <link href="Resume.styles.css" rel="stylesheet">
</head>
<body>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>© 2026 - @(DateTime.Now.Year) Федотов Артем Олегович</p>
    </footer>

</body>
</html>