a {
    text-decoration: none;
}

a.email:link {
    color: var(--color-fuchsia);
}

a.email:hover,
a.email:focus {
    padding: 3px 0px 2px;
    border-bottom: 1px solid;
}

a.email:active {
    color: var(--color-red);
}