/* Сброс стилей браузера */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: inherit;
    font-family: inherit;
}

html,
body {
    display: block;
}

head {
    display: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}