@font-face {
    font-family: "Inter";
    src: url("./../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format('truetype');
}

:root {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    color: rgb(222, 222, 222);
}